.btnArrowUp {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 3rem;
  margin: 0 3rem 0 auto;
  background-color: var(--second-color);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid #000;
}

.iconBtnArrowUp {
  width: 2rem;
  height: 2rem;
  transition: all 0.3s;
}

.btnArrowUp:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow-small)
}

.btnArrowUp:hover .iconBtnArrowUp {
  transform: scale(1.05);
}
