@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: var(--font-color-lightest);
  background-color: var(--main-color);
}

body {
  overflow-x: hidden;
}

:root {
  --main-color: #151515;
  --main-color-light: #1e2320;
  --main-color-light--transparent: rgba(30, 35, 32, 0.9);

  --second-color: #d8ff43;
  --second-color-dark: #90aa2d;

  --font-color-lightest: #fcfcfc;
  --font-color-light: #f2f2f2;
  --font-color: #cecece;
  --font-color-dark: #acacac;

  --border-small: 1px solid var(--font-color-lightest);

  --box-shadow-big: 0 0 2rem var(--font-color-lightest);
  --box-shadow-medium: 0 0 1.5rem var(--font-color-lightest);
  --box-shadow-small: 0 0 1rem var(--font-color-lightest);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: var(--main-color-light);
}

::-webkit-scrollbar-thumb {
  background: var(--second-color-dark);
  transition: all 0.3s;
}
